<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10">
      <div class="panel panel-primary filterable">
        <div class="panel-heading">
          <h3 class="panel-title">本人课表</h3>
        </div>

        <div class="panel-body">
            <%= link_to "返回", courses_path, :class => "btn btn-outline-dark"%>
          <div>
          <table class="table table-condensed table-hover table-bordered">
            <thead>
            <tr>
              <th>节数/星期</th>
              <th>星期一</th>
              <th>星期二</th>
              <th>星期三</th>
              <th>星期四</th>
              <th>星期五</th>
              <th>星期六</th>
              <th>星期日</th>
            </tr>
            <tbody>
              <% local_time=1 %>
              <% local_flat=0 %>
              <% while local_time!=10 %>
                <tr>
                <td><%= local_time %></td>
                <td>
                  <% @course.zip(@time_code,@week_code).each do|course,time,week| %>
                    <% if time==local_time and week=="周一" %>
                      <%= course.name %><%= course.course_time[2,6] %><br>
                      [<%= course.class_room %>][<%= course.course_week %>]<br>
                      <%local_flat=local_flat+1%>
                    <% else %>
                    <% end %>
                  <% end %>
                  <% if local_flat==0 %>&nbsp;<% end %><%local_flat=0%>
                </td>
                <td>
                  <% @course.zip(@time_code,@week_code).each do|course,time,week| %>
                    <% if time==local_time and week=="周二" %>
                      <%= course.name %><%= course.course_time[2,6] %><br>
                      [<%= course.class_room %>][<%= course.course_week %>]<br>
                      <%local_flat=local_flat+1%>
                    <% else %>
                    <% end %>
                  <% end %>
                  <% if local_flat==0 %>&nbsp;<% end %><%local_flat=0%>
                </td>
                <td>
                  <% @course.zip(@time_code,@week_code).each do|course,time,week| %>
                    <% if time==local_time and week=="周三" %>
                      <%= course.name %><%= course.course_time[2,6] %><br>
                      [<%= course.class_room %>][<%= course.course_week %>]<br>
                      <%local_flat=local_flat+1%>
                    <% else %>
                    <% end %>
                  <% end %>
                  <% if local_flat==0 %>&nbsp;<% end %><%local_flat=0%>
                </td>
                <td>
                  <% @course.zip(@time_code,@week_code).each do|course,time,week| %>
                    <% if time==local_time and week=="周四" %>
                      <%= course.name %><%= course.course_time[2,6] %><br>
                      [<%= course.class_room %>][<%= course.course_week %>]<br>
                      <%local_flat=local_flat+1%>
                    <% else %>
                    <% end %>
                  <% end %>
                  <% if local_flat==0 %>&nbsp;<% end %><%local_flat=0%>
                </td>
                <td>
                  <% @course.zip(@time_code,@week_code).each do|course,time,week| %>
                    <% if time==local_time and week=="周五" %>
                      <%= course.name %><%= course.course_time[2,6] %><br>
                      [<%= course.class_room %>][<%= course.course_week %>]<br>
                      <%local_flat=local_flat+1%>
                    <% else %>
                    <% end %>
                  <% end %>
                  <% if local_flat==0 %>&nbsp;<% end %><%local_flat=0%>
                </td>
                <td>
                  <% @course.zip(@time_code,@week_code).each do|course,time,week| %>
                    <% if time==local_time and week=="周六" %>
                      <%= course.name %><%= course.course_time[2,6] %><br>
                      [<%= course.class_room %>][<%= course.course_week %>]<br>
                      <%local_flat=local_flat+1%>
                    <% else %>
                    <% end %>
                  <% end %>
                  <% if local_flat==0 %>&nbsp;<% end %><%local_flat=0%>
                </td>
                <td>
                  <% @course.zip(@time_code,@week_code).each do|course,time,week| %>
                    <% if time==local_time and week=="周日" %>
                      <%= course.name %><%= course.course_time[2,6] %><br>
                      [<%= course.class_room %>][<%= course.course_week %>]<br>
                      <%local_flat=local_flat+1%>
                    <% else %>
                    <% end %>
                  <% end %>
                  <% if local_flat==0 %>&nbsp;<% end %><%local_flat=0%>
                </td>
                </tr>
                <% local_time=local_time+1 %>
              <% end %>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
