<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10">
      <div class="panel panel-primary filterable">
        <div class="panel-heading">
          <% if student_logged_in? %><h3 class="panel-title">本人课表</h3>
          <% end %>
        </div>

        <div class="panel-body">
            <%= link_to "返回", courses_path, :class => "btn btn-info"%>
          <table class="table table-responsive table-condensed table-hover">
            <thead>
            <tr>
              <th>节数/星期</th>
              <th>星期一</th>
              <th>星期二</th>
              <th>星期三</th>
              <th>星期四</th>
              <th>星期五</th>
              <th>星期六</th>
              <th>星期日</th>
            </tr>
            <tbody>
              <% local_course = 0 %>
              <% @course.each do |course| %>
                <% local_time = 1 %>
                <% while local_time != 10 %>
                  <% if @time_code[local_course] != local_time %>
                    <tr>
                      <td><%= local_time %><% local_time=local_time+1 %></td>
                      <td> </td>
                      <td> </td>
                      <td> </td>
                      <td> </td>
                      <td> </td>
                      <td> </td>
                      <td> </td>
                    </tr>
                  <% else %>
                    <tr>
                      <!--TODO:sql logic show td -->
                      <td><%= local_time %><% local_time=local_time+1 %></td>
                      <% if @week_code[local_course] == "周一" %><td><%= course.name %></td>
                      <% else %><td> </td>
                      <% end %>
                      <% if @week_code[local_course] == "周二" %><td><%= course.name %></td>
                      <% else %><td> </td>
                      <% end %>
                      <% if @week_code[local_course] == "周三" %><td><%= course.name %></td>
                      <% else %><td> </td>
                      <% end %>
                      <% if @week_code[local_course] == "周四" %><td><%= course.name %></td>
                      <% else %><td> </td>
                      <% end %>
                      <% if @week_code[local_course] == "周五" %><td><%= course.name %></td>
                      <% else %><td> </td>
                      <% end %>
                      <% if @week_code[local_course] == "周六" %><td><%= course.name %></td>
                      <% else %><td> </td>
                      <% end %>
                      <% if @week_code[local_course] == "周日" %><td><%= course.name %></td>
                      <% else %><td> </td>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %>
                <% local_course=local_course+1 %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
